header.cabecalho {

    /*cabeçalho seguei o scroll*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.navbar {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-right: 20px;
}

.navbar input {
    width: 300px;
    height: 35px;
    border: 1px solid #0072c6;
    border-radius: 17px;
}

.navbar button {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #0072c6;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
}

.navbar li img {
    width: 100px;
    height: auto;
}

.especial {
    font-size: large;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 30px;
}

.especial select {
    font-size: 20px;
    border: none;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

.perfil a {
    margin-right: 20px;
    text-decoration: none;
    color: #0072c6;
}

.cadastro {
    background-color: #0072c6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

.banner {
    text-align: center;
    position: relative;
}

.banner img {
    border-radius: 30px;
}

.banner h3 {
    color: white;
    position: absolute;
    bottom: 70px;
    right: 500px;
}

.banner button {
    width: 100px;
    height: 50px;
    position: absolute;
    bottom: 35px;
    right: 600px;
    border: 1px white;
}

#aqui {
    max-width: 500px;

}

#aqui h2 {
    margin: 50px;
    right: -250px;
    position: relative;
}

/*ALINHAMENTOS DOS IMGS RENDODAS*/

.container {
    text-align: center;
}

.container div {
    display: inline-block;
    text-align: center;
    width: 10%;
}

.container img {
    min-width: 180px;
    max-width: 180px;
    border-radius: 250px;
    padding: 10px;
}


.container p {
    font-weight: bold;
}


.slider {
    min-width: 500px;
    min-height: 200px;
    border: 1px solid black;
    background-color: rgba(202,202,202, 5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides{
    
    display: flex;
    overflow: hidden;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 700px;

}

.slide img{    
    border-radius: 20px;
    min-width: 650px;
    min-height: 450px;
    max-width: 650px;
    max-height: 450px;

}

.navigation-bar{
    color: blue;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.navigation-bar label{
    border: 2px solid black;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

.navigation-bar label:not(:last-child) {
    margin-right: 10px;
}

.navigation-bar label:hover {
    background-color: #abb3b8;
    transition: 0.4s;
}

@media (max-width: 1200px) {

    /*CSS AQUI PARA DEIXAR RESPONSIVO*/

}